/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li, ol, ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

/* media adaptive for examples */
/* Tablet */
/* @media (max-width: 1199px) {
   width: 900px;
} */
/* Mobile */
/* @media (max-width: 899px) {
   width: 768px;
} */
/* Mobile XS */
/* @media (max-width: 767px) {
   width: 320px;
}  */
/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: #1B1A17;
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
}

.hero {
  max-width: 448px;
}
.hero .main-title,
.hero .main-subtitle {
  margin-bottom: 14px;
}

.main-title {
  font-size: 64px;
  color: #3A96EC;
  text-transform: capitalize;
  font-weight: 900;
}

.main-subtitle {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

.hero__desk-text {
  font-size: 20px;
}

.test {
  width: 200px;
  height: 200px;
  background-color: brown;
  border-radius: 10px 40px 60px 100px;
}

.avatar {
  width: 629px;
  height: 575px;
  position: relative;
}

.avatar__element {
  width: 370px;
  height: 370px;
  border-radius: 32% 68% 32% 68%/60% 73% 27% 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar__element--img {
  overflow: hidden;
  z-index: 3;
}

.avatar__element--first {
  transform: translate(-50%, -50%) rotate(40deg);
  background-color: rgba(60, 151, 236, 0.722);
  z-index: 2;
}

.avatar__element--second {
  transform: translate(-50%, -50%) rotate(-40deg);
  background-color: rgba(206, 206, 206, 0.72);
}

.avatar__bg {
  height: auto;
  width: auto;
  object-fit: contain;
}

.context-title {
  font-size: 32px;
  font-weight: 700;
  color: #3A96EC;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20.5px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  max-width: 146px;
}

.header__list {
  display: flex;
  column-gap: 64px;
}

.anchor-link {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  transition: color 0.5s;
}
.anchor-link:active {
  color: #3A96EC;
}
@media (hover: hover) {
  .anchor-link:hover {
    color: #3A96EC;
  }
}

.welcome__content {
  display: flex;
  justify-content: space-between;
  padding: 79px 0 72.5px;
  align-items: center;
}

.about-me__content {
  display: flex;
  column-gap: 32px;
  padding: 64px 0;
  justify-content: center;
  align-items: center;
}

.about-me__img {
  width: 101px;
  height: 101px;
}

.about-me__description {
  font-size: 24px;
  max-width: 904px;
}

.skills__content {
  padding: 64px 0;
}
.skills__content .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.list-skills {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1F1E1B;
  width: 200px;
  padding: 61px 0 45px;
  border-radius: 10px;
}
.skill-card--html .skill-card__img, .skill-card--css .skill-card__img {
  width: 114px;
  height: 128px;
}
.skill-card--js .skill-card__img, .skill-card--scss .skill-card__img, .skill-card--git .skill-card__img {
  width: 128px;
  height: 128px;
}

.skill-card__img {
  display: inline-block;
}

.skill-card__icon {
  fill: #F0E3CA;
}

.skill-card__text {
  padding: 16px;
  font-size: 32px;
  font-family: "Arial Narrow", sans-serif;
}

.my-works__content {
  padding: 64px 0;
}
.my-works__content .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.list-works {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.project-card {
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.project-card__info {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 320px;
  height: 320px;
  background-color: #21201D;
}

.project-card__title {
  padding: 40.5px 0 16px;
  margin: 0 auto;
  width: 200px;
  border-bottom: 1px solid #3A96EC;
}
.project-card__title .context-title {
  margin-bottom: 16px;
}

.project-card__stack {
  text-align: center;
}

.project-card__description {
  max-width: 219px;
  margin: 0 auto;
  padding: 16px 0 40.5px;
}

.project-card__text {
  margin-bottom: 16px;
}

.wrapper-link {
  text-align: center;
}

.link-see-more {
  background-color: #32312E;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */