.header {
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20.5px 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 25px;
        padding: 16px 0;
    }

    @media (max-width: 570px) {
        flex-direction: row;
    }

    .logo {
        display: inline-block;
        max-width: 146px;
    }
}
.header__menu {

    @media (max-width: 570px) {
        display: none;
    }
}
.header__list {
    display: flex;
    column-gap: 64px;
}
.header__list-item {
    // &:not(:last-child) {
    //     margin-right: 64px;
    // }
}
.anchor-link {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    transition: color 0.5s;

    &:active {
        color: $contextColor;
    }
    // здесь должен вызываться миксин
    @include hoverLink($contextColor);
    
}
