.my-works {
}
.my-works__content {
    padding: 64px 0;
    
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}
.list-works {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.list-works__item {
}
.project-card {
    width: 320px;
    height: 320px;
}