.skills {
}
.skills__content {
    padding: 64px 0;
    
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}
.list-skills {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bgSkillCard;
    width: 200px;
    padding: 61px 0 45px;
    border-radius: 10px;
    flex-shrink: 0;
    gap: 16px;

    @media (max-width: 768px) {
        flex-direction: row;
        width: 285px;
        padding: 14px 36px;
        justify-content: flex-start;
    }
    &--html,
    &--css {
        .skill-card__img {
            width: 114px;
            height: 128px;

            @media (max-width: 768px) {
                width: 28px;
                height: 32px;
            }
        }
    }
    &--js,
    &--scss,
    &--git {
        .skill-card__img {
            width: 128px;
            height: 128px;

            @media (max-width: 768px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    &--html {
        @include hoverSkill ($skillHtml);
    }
    &--css {
        @include hoverSkill ($skillCss3);
    }
    &--js {
        @include hoverSkill ($skillJs);
    }
    &--scss {
        @include hoverSkill ($skillScss);
    }
    &--git {
        @include hoverSkill ($skillGit);
    }
    &--skill-card__text {
        @include hoverSkill ($skillHtml);
}
.skill-card__img {
    display: inline-block;
}
.skill-card__icon { 
    fill: $colorText;
    transition: 0.4s;
}
.skill-card__text {
    font-size: 32px;
    font-family: 'Arial Narrow', sans-serif;

    @media (max-width: 768px) {
        font-size: 24px;
        font-family: 'Inconsolata', monospace;
    }
}
}