.skills {
    position: relative;
}
.skills__content {
    padding: 64px 0;
    
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}
.list-skills {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.skill-card {
    position: relative;
    width: 200px;
    height: 300px;
    // flex-shrink: 0;
    &__front,
    &__back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
    }

    &__back{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 85, 179);
    transform: perspective(600px) rotateY(180deg);
    border-radius: 10px;
    }
    
    &__front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $bgSkillCard;
        padding: 61px 0 45px;
        border-radius: 10px;
        gap: 16px;
        transform: perspective(600px) rotateY(0deg);
    }

    &__cross {
        background-image: url(../../img/icons/cross.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    @media (max-width: 768px) {
        flex-direction: row;
        width: 285px;
        padding: 14px 36px;
        justify-content: flex-start;
    }
    &--html,
    &--css {
        .skill-card__img {
            width: 114px;
            height: 128px;

            @media (max-width: 768px) {
                width: 28px;
                height: 32px;
            }
        }
    }
    &--js,
    &--scss,
    &--git {
        .skill-card__img {
            width: 128px;
            height: 128px;

            @media (max-width: 768px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    &--html {
        @include hoverSkill ($skillHtml);
    }
    &--css {
        @include hoverSkill ($skillCss3);
    }
    &--js {
        @include hoverSkill ($skillJs);
    }
    &--scss {
        @include hoverSkill ($skillScss);
    }
    &--git {
        @include hoverSkill ($skillGit);
    }
    &--skill-card__text {
        @include hoverSkill ($skillHtml);
}
.skill-card__img {
    display: inline-block;
}
.skill-card__icon { 
    fill: $colorText;
    transition: 0.4s;
}
.skill-card__text {
    font-size: 32px;
    font-family: 'Arial Narrow', sans-serif;

    @media (max-width: 768px) {
        font-size: 24px;
        font-family: 'Inconsolata', monospace;
    }
}
}
.skill-card.active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    min-width: 500px;
    min-height: 400px;
    z-index: 3;
 }
 
 .skill-card.active .skill-card__front{
    transform: perspective(600px) rotateY(-180deg);
 }
 
 .skill-card.active .skill-card__back{
    transform: perspective(600px) rotateY(0deg);
 }

// довести стили карточек до ума и написать скрипты