$bgBody: #1B1A17;
$colorText: #F0E3CA;
$contextColor: #3A96EC;
$firstAvatarElement:rgba(60, 151, 236, 0.722);
$secondAvatarElement:rgba(206, 206, 206, 0.72);
$bgSkillCard: #1F1E1B;
$bgProjectCardInfo: #21201D;
$bgButton: #32312E;
